<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enrollment and Timetable</title>
</head>
<body>
    <h2>Choose an Action:</h2>
    
    <ul>
        <li><a href="/student">Student Enrollment</a></li>
        <li><a href="/course">Course Enrollment</a></li>
        <li><a href="/faculty">Faculty Enrollment</a></li>
        <li><a href="/attendance">Time Table</a></li>
    </ul>
</body>
</html>
