<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Course Form</title>
</head>
<body>

<h2>Student Course</h2>

<form action="/attendance/student/course-page" method="post">

    <!-- Faculty ID Input -->
    <label for="studentId">Student ID:</label>
    <input type="text" id="studentId" name="studentId" required>
    <br>

    <!-- Faculty Name Input -->
    <label for="classId">class Id :</label>
    <input type="text" id="classId" name="classId" required>
    <br>
    <!-- Submit Button -->
    <input type="submit" value="Submit">
</form>

</body>
</html>
